@model MappingProject.Models.AspNetVehicleLocationTable

@{
    ViewBag.Title = "Delete";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AspNetVehicleLocationTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastLatitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLatitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLongitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLongitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineRPM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngineRPM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Speed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelPressure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelPressure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Throttle_Pos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Throttle_Pos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fuel_Rail_Pressure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fuel_Rail_Pressure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetVehicle.VehicleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetVehicle.VehicleID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
